.post-item{
    width:19.5%;
    height:25%;
    display: inline-block;
}

.posts{
    margin:5px;
   
}

 .posts a,.posts li:nth-child(odd){
    
        background-color: rgba(176, 139, 219, 0.459); 
        
    } 
   
.posts a:hover{
    background-color: blueviolet;
    color:white;
}

div button{
    display: inline-block;
}